.container{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.background{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url('/background.jpg') center/cover no-repeat fixed;
  z-index: -1;
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .row{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
  }
  .sidebar{
    z-index: 10;
  }
.children{
    z-index: 1;
    /* background-color: aqua; */
}


/* @media only screen and (max-width: 767px) {
  .children{
    padding: 30px;
  }
} */
