.container {
    width: 100%;
    height: 100%;
    margin: 5vh 0 5vh 0;
}
.content {
    margin-bottom: 10px;
    background-color: white;
    border: 10px solid black;
    border-radius: 30px;
    padding: 5%;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.backButton{
    background-color: purple;
    padding: 3px 5px;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8vw;
    height: 50px;
    transition: 300ms;
}
.backButton:hover{
    background-color: rgb(1, 17, 167);
}
.underline{
    text-decoration: none;
}

.container1 {
    border-right: 2px solid black;
}
.li {
    font-weight: bold;
}
@keyframes scaleAnimation {
    0% {
        transform: scale(1); /* Ukuran normal */
    }
    50% {
        transform: scale(1.2); /* Ukuran besar */
    }
    100% {
        transform: scale(1); /* Kembali ke ukuran normal */
    }
}
.containerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.link {
    font-size: 2rem;
    animation: scaleAnimation 2s infinite;
}
.galleryContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.galleryImage {
    width: 45%;
    margin: 10px;
    transition: 500ms;
    border: 2px solid rgb(1, 1, 141);
    border-radius: 10px;
}
.galleryImagePhone{
    width: 20%;
    margin: 10px;
    transition: 500ms;
    border: 2px solid rgb(1, 1, 141);
    border-radius: 10px;
}

.galleryImage:hover, .galleryImagePhone:hover{
    transform: scale(1.5);
}

@media only screen and (max-width:992px) {
    .backButton{
        width: 12vw;
    }
}


@media only screen and (max-width:576px) {
    .backButton{
        width: 20vw;
    }
    .galleryImage{
        width: 80%;
    }
    .galleryImagePhone{
        width: 40%;
    }
}