@keyframes pulse {
    0% {
        opacity: 1;
    }
    50%{
      opacity: .7;
    }
    100% {
        opacity: 1;
    }
}
.container {
    position: fixed;
    width: 50px;
    height: 280px;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition-property: height;
    transition-duration: 0.1s;
    display: none;
    z-index: 200;
    will-change: transform;
}
.containerHidden {
    height: 50px;
    transition-property: height;
    transition-duration: 1s;
    animation: pulse 2s infinite;
}
.button {
    width: 50px;
    height: 50px;
    background-image: url("/profile-pic.jpg");
    background-size: 50px 50px;
    background-position: 60% 15%;
    border-radius: 50%;
    border: 4px solid white;
    z-index: 20;
    position: absolute;
}
.skill {
    position: absolute;
    width: 50px;
    height: 280px;
    border-radius: 50px;
    background-color: purple;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    transition: 0.5s;
    animation-duration: 0.5s; /* Durasi animasi */
    animation-timing-function: ease-out; /* Fungsi waktu untuk keluar (turun) */
    animation-fill-mode: both;
}

.hide {
    opacity: 0;
    /* transition: 0.5s; */
    animation-timing-function: ease-in; /* Fungsi waktu untuk masuk (naik) */
    animation-fill-mode: both;
}

@keyframes slideDown {
    from {
        transform: translateY(-85%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-85%);
    }
}

.slideDown {
    animation-name: slideDown;
}

.slideUp {
    animation-name: slideUp;
}

.icon {
    font-size: 2rem;
}

@media only screen and (max-width: 576px) {
    .container {
        display: flex;
    }
}
